* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}